#head{
    text-align: center;
    font-size: 40px;
    animation: pulse 10s infinite;
}
@keyframes pulse {
    0% {
      background-color:orange;
    }
    30% {
      background-color:white;
    }
    100%{
        background-color: green;
    }
  }
  body{
    padding:20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: skyblue;
}
table{
    color:black;
	border-spacing: 50;
    border-radius: 0 0 5px 5px;
    margin:20px 20px 20px 20px;
    font-size: 40px;
}
  table tr th{
    text-align: center;
    border-radius: 50px;
    padding:50px 50px 50px 50px;
    background-color:gold ;
    border:solid 3px black;
    color:black;
} 
table tr td{
    padding:20px 20px 20px 20px;
    border-radius: 25px;
    background-color: rosybrown;
    border:solid 3px black;
    color:black;
    text-align:center;

}
table tr:hover{
    opacity:0.7;
} 
footer{
    background-color: orangered;
    font-size: 20px;
    text-align: center;
}
  